<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bookify.web</title>

    <!-- Theme style -->
    <link rel="stylesheet" href="~/assets/css/adminlte.min.css">
    <link rel="stylesheet" href="~/lib/sweetalert2/dist/sweetalert2.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/animate.css/animate.min.css" />
    <link rel="stylesheet" href="~/lib/datatables/css/datatables.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-daterangepicker/daterangepicker.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Bookify.web.styles.css" asp-append-version="true" />
   
</head>
<body>
    <partial name="_Header" />
    <partial name="_Aside" />

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="container">
                        <main role="main" class="pb-3">
                            @RenderBody()
                        </main>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
    </div>
        <!-- /.content-header -->

    <span id="Message" class="d-none ">@TempData["Message"]</span>

    <partial name="_Modal" />

    <partial name="_Footer" />

   
    <!-- bootbox-->
    <script src="~/lib/bootbox.js/bootbox.min.js"></script>
    <script src="~/lib/sweetalert2/dist/sweetalert2.min.js"></script>
    <!-- jquery -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <!-- adminlte-->
    <script src="~/assets/js/adminlte.js"></script>
    <script src="~/lib/datatables/js/jquery.datatables.min.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/lib/bootstrap-daterangepicker/moment.min.js"></script>
    <script src="~/lib/tinymce/tinymce.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/2axubt0mfdhw9kgpqclzmvgu2wpfvttgiju0v7mn2bqwuah6/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="~/lib/bootstrap-daterangepicker/daterangepicker.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
