<div class="modal-footer px-0 py-3">
    <!-- Close Button with icon -->
    <button type="button" class="btn btn-outline-secondary w-100 w-sm-auto" data-bs-dismiss="modal">
        <i class="fas fa-times-circle me-2"></i> Close
    </button>

    <!-- Save Button with icon and tooltip -->
    <button type="submit" class="btn btn-success w-100 w-sm-auto" data-bs-toggle="tooltip" data-bs-placement="top" title="Save your changes">
        <i class="fas fa-save me-2"></i> Save
    </button>
</div>
