<a class="btn btn-lg btn-primary text-white rounded-pill   align-items-center"
   asp-controller="Books"
   asp-action="Create">
    <i class="bi bi-plus-circle me-2"> Create Book </i>
</a>
<a class="btn btn-lg btn-primary text-white rounded-pill   align-items-center"
   asp-controller="Books"
   asp-action="Edit">
    <i class="bi bi-plus-circle me-2"> Create Book </i>
</a>
